@charset "utf-8";
body{
	/*background: #ccc;*/
}
.border{
	border: 1px solid red;
}
.basestyle{
	height:55px;
	padding: 0;
}
.headerLogo{
	background: url(../img/logo_b5525b7.png) no-repeat center center;
}
.headerrow{
	width: 1040px;
	height: 55px;
	margin: 0 auto;
}
.headerGg{
	padding: 0;
	position: relative;
}
.header_Gg_Img_one{}
.header_Gg_Img_second{}
.headerGg .header_Gg_Img_one{
	width: 100%;
	height: 100%;
	transition: .5s;
}
.headerGg:hover .header_Gg_Img_one{
	opacity: 0;
	transition: .5s;
}
.headerGg .header_Gg_Img_second{
	width:150%;
	position: absolute;
	top:-240px;
	left: -140px;
	z-index: 100;
	/*transition: .5s;*/
	/*opacity: 0;*/
}

.headerGg:hover .header_Gg_Img_second{
	width:200%;
	position: absolute;
	top: 55px;
	opacity: 1;
	
}
.reglan{
	list-style: none;
	box-sizing: border-box;
}
.reglan>li{
	float: left;
	margin-right:10px;
	height: 56px;
	line-height: 56px;
}
.reglan>li:last-child{
	overflow: hidden;
}
.reglan>li:hover{
	border-bottom: 3px solid red;
}
.sanj{
	color:#bc2e2e;
	position: relative;
}
.sanj:after{
	content: "";
	display: inline-block;
	width: 10px;
	height: 10px;
	border-color: #000 transparent transparent transparent;
	border-style:solid  ;
	border-width: 5px;
}
.sanj:hover .game_all_list{
	display: block;
}
.game_all_list{
	list-style: none;
	width: 1021px;
	height: 500px;
	background: #ddd;
	position: absolute;
	top: 55px;
	left: -760px;
	z-index: 999;
	display: none;
}
/*-------------header nav--------------*/
.header_nav{
	padding: 0;
	background: rgba(255,255,255,.8);
}
/*----------------header_loop-------------------*/
.loop_hover_s{
	overflow: hidden;
	margin:0;
	width: 100px;
	height: 56px;
	position: relative;
	
}
ul.header_gg_slides{
	width: 100px;
	height:168px;
	list-style: none;
	padding: 0;
	position: absolute;
}
ul.header_gg_slides li{
	width: 100%;
	height: 56px;
	line-height: 56px;
	/*display: none;*/
	
}
ul.header_gg_slides li:hover{
	color: #bc2e2e;
}
.headerGGSlides{
	display: block;
}
/*--------渐变---------*/
.linear{ 
 display: block;
 list-style: none;
width: 100%;


position: absolute;
top: 55px;
left: 0;
z-index: 10;
display: none;
opacity: 0;
transition: 1s;
}
.nav_hidden_img{
	background: url(../img/topmenu_z_32bcf7.fw.png);
	background-position:3px 55px ;
}
.nav_hidden_img1{
	background: url(../img/topmenu_z_32bcf7.fw.png);
	background-position-x:-130px ;
	
}
.nav_hidden_img1:hover{
	background: url(../img/topmenu_z_32bcf7.fw.png);
	background-position:-130px 55px;
	
}
.nav_hidden_img1:hover .linear{
	display: block;
	opacity: 1;
	transition: 1s;
}
.nav_hidden_img2:hover .linear{
	display: block;
	opacity: 1;
	transition: 1s;
}
.nav_hidden_img3:hover .linear{
	display: block;
	opacity: 1;
	transition: 1s;
}
.nav_hidden_img4:hover .linear{
	display: block;
	opacity: 1;
	transition: 1s;
}
.nav_hidden_img5:hover .linear{
	display: block;
	opacity: 1;
	transition: 1s;
}
.nav_hidden_img6:hover .linear{
	display: block;
	opacity: 1;
	transition: 1s;
}
.nav_hidden_img7:hover .linear{
	display: block;
	opacity: 1;
	transition: 1s;
}
.nav_hidden_img2{
	background: url(../img/topmenu_z_32bcf7.fw.png);
	background-position-x:-260px ;
}
.nav_hidden_img2:hover{
	background: url(../img/topmenu_z_32bcf7.fw.png);
	background-position:-260px 55px;
}
.nav_hidden_img3{
	background: url(../img/topmenu_z_32bcf7.fw.png);
	background-position-x:-390px ;
}
.nav_hidden_img3:hover{
	background: url(../img/topmenu_z_32bcf7.fw.png);
	background-position:-390px 55px;
}
.nav_hidden_img4{
	background: url(../img/topmenu_z_32bcf7.fw.png);
	background-position-x:-520px ;
}
.nav_hidden_img4:hover{
	background: url(../img/topmenu_z_32bcf7.fw.png);
	background-position:-520px 55px;
}
.nav_hidden_img5{
	background: url(../img/topmenu_z_32bcf7.fw.png);
	background-position-x:-650px ;
}
.nav_hidden_img5:hover{
	background: url(../img/topmenu_z_32bcf7.fw.png);
	background-position:-650px 55px;
}
.nav_hidden_img6{
	background: url(../img/topmenu_z_32bcf7.fw.png);
	background-position-x:-780px ;
}
.nav_hidden_img6:hover{
	background: url(../img/topmenu_z_32bcf7.fw.png);
	background-position:-780px 55px;
}
.nav_hidden_img7{
	background: url(../img/topmenu_z_32bcf7.fw.png);
	background-position-x:-910px ;
}
.nav_hidden_img7:hover{
	background: url(../img/topmenu_z_32bcf7.fw.png);
	background-position:-910px 55px;
}
.nav_img_spot{
	display: block;
	width: 32px;
	height: 32px;
	background: url(../img/new_1411012.png) no-repeat;
	background-position:0 -34px ;
}
.nav_hidden_img6:hover .nav_img_spot{
background-position: 0 0;
}
.header_nav >li{
	height: 59px;
}
ul.linear,ul.navs{
	width: 100%;
	padding: 0;
	list-style: none;
	margin: 0;
}
.col-md-12 .navs:after{
	content:"";
	display: block;
	clear: both;
	width: 100%;
	list-style: none;
	margin: 0;
	padding: 0;
}
.navs>li{
	position: relative;
	width: 12.5%;
	height: 57px;
	box-sizing: border-box;
	float: left;
	transition: .5s;
}
.linear >li{
	height: 30px;
	line-height: 30px;
	font-size: 16px;
	text-align: center;
	background: rgba(199,37,37,.8);
}
.navs >li:hover .linear{
	/*display: block;*/
	transition: 1s;
	opacity: 1;
}
.linear >li>a{
	color: #fff;
}
.navs>li>li{}
.linear li:last-child{
	background: url(../img/topmenu_z_32bcf79.png) no-repeat;
	/*background-size:100%;*/
	background-position:-410px -180px ;
}
div.wrapBg{
	min-width: 1600px;
	height: 2300px;
	/*margin-top:-57px ;*/
	background: url("../img/block1Bg_7195bf4.jpg")0 55px no-repeat / 100% 35%,
				url("../img/bg2_7ace25a.jpg") 0px 860px no-repeat /100% 45%,
				url("../img/bg3_7cf006f.jpg") 0px 1500px no-repeat /100% 45%;
	position: relative;
}	
div.contBg{
	background: rgba(255,255,255,.7);
}
.banners{
	position: absolute;
	left: 420px;
	top: 400px;
}
.banners a{
	display: block;	
	width: 352px;
	height: 132px;
	background: url(../img/koudaiDownPic_a69fe6e.png) no-repeat;
}
.banners a:hover i{
	width: 100%;
	height: 100%;
	background: #FFF;
	/*opacity: .5;*/
}
.banner_title{
	position: absolute;
	top: 120px;
	right: 450px;
	/*z-index: -1;*/
}
.banner_title a{
	display: block;
	width: 240px;
	height: 80px;
	background: url(../img/logo_4f4847f.png) no-repeat 100% 100%;
}
/*section 区域*/

.section_box{
	width: 1250px;
	height: 1300px;
	margin: 600px auto 0;
	/*background: red;*/
}
.section_l,.section_c,.section_r{
	float: left;
	height: 1300px;

}
.section_l{
	width: 180px;
	/*background: #008000;*/
}
.section_c{
	width: 57%;
	position: relative;
	/*background: deepskyblue;*/
}
.section_r{
	width: 28.5%;
	width: 350px;
}
.game_downloader{
	width:170px;
	height: 120px;
	background: url(../img/style_z_c8c88dc.png) no-repeat;
	background-position: -1206px -1058px;
}

.game_downloader:hover{
	background: url(../img/style_z_c8c88dc.png) no-repeat;
	background-position: -916px -1058px;
}
.game_pocket{
	width:170px;
	height: 130px;
	background: url(../img/aside_koudai1_bf61764.jpg) no-repeat;
	background-position: 0px 0px;
}
.game_pay{
	width:170px;
	height: 250px;
	background: url(../img/aside_box1_a83c7c5.jpg) no-repeat;
	background-position: 0px 0px;
}
.game_pocket:hover{
	background-position: 0px -130px;
}
.safe_menu,.safe_menus{
	padding: 0;
	margin: 0;
	list-style: none;
}
.safe_menu >li,.safe_menus >li{
	float: left;
	width: 50%;
	height: 80px;
	box-sizing: border-box;
	padding:0 8px;
	text-align: center;
	cursor: pointer;
}
.safe_menu >li:hover .safe_icon{
	transform: translateY(-10px);
}
.safe_menu >li:hover .safe_text{
	transform: translateY(-10px);
}
.safe_menus >li:hover .safe_icon{
	transform: translateY(-10px);
}
.safe_menus >li:hover .safe_text{
	transform: translateY(-10px);
}
.safe_icon{
	display: block;
	width: 100%;
	height: 50px;
	line-height: 50px;
	font-size: 25px;
	color: #fff;
	font-weight: 100;
	transition: all .3s linear 0s;
}
.safe_text{
	line-height: 10px;
	display: block;
 	color: #fff;
 	transition: all .3s linear .1s;
}
.game_info{
	width: 170px;
	height: 400px;
	background: url(../img/aside_box2_7174bc5.jpg);
	background-size: 100% 75%;
}
.gameInfo{
	list-style: none;
	padding: 0;
	color: #fff;
	font-size: 16px;
	margin-top: 10px;
	text-align: center;
	font-family: "微软雅黑";
}
.gameInfo>li{
	height: 60px;
	line-height: 60px;
}
.gameInfo>li a{
	color:#fff;
	text-decoration: none;
}
.game-scale{
	width: 16px;
	height: 16px;
	margin-right: 10px;
}
.gameInfo>li:hover i.game-scale{
	transform: rotateY(360deg);
	transition: all 1s;
}
.gameInfo>li i.game-scale{
	transition: all 1s;
}
.resource{
	width: 170px;
	height: 160px;
}
.safe_menus{
	margin-top: 45px;
}
.customer{
	margin-top: 10px;
	width: 170px;
	height: 380px;
}
.cust_sevices{
	width: 170px;
	height: 190px;
	border: 1px solid #becbdd;
	background: url(../img/style_z_c8c88dc.png);
	background-position: -100px -660px;
	/*background-size: ;*/
}
.cust_info{
	width: 170px;
	height: 170px;
}
.acount_safe{
	margin-top: 50px;
	padding-left:25px;
}
.acount_safe:after{
	content: "";
	display: block;
	clear: both;
}
.acount_safe li{
	float: left;
	width: 40%;
	height: 20px;
	line-height: 20px;
	padding-left: 0;
	text-indent:-3px;
	margin:5px 15px 0 0;
	color: #fff;
}
.acount_safe li:nth-child(2n){
	margin-right: 0;
}
.acount_safe li a{
	color: #fff;
	font-size: 12px;
}
.sevice_phone{
	margin-top: 10px;
	width: 100%;
	height: 60px;
}
.tel_icon{
	color: #0f3063;
	font-size: 35px;
	margin-left: 10px;
	/*line-height: 10px;*/
	
}
.tel{
	margin-left: 15px;
	display: inline-block;
	color: #0f3063;
}
.plan_player{
	width: 100%;
	height: 170px;
	list-style: none;
	padding: 0;
}
.plan_player li{
	float: left;
	width: 50%;
	height: 84px;
	margin: 0;
}
.qvknow,.qvknow1,.qvknow2,.qvknow3{
	display: inline-block;
	width: 100%;
	height: 87px;
	/*border: 1px solid #fff;*/
	background:url(../img/style_z_c8c88dc.png) no-repeat;
	background-position: -970px -660px;
}
.qvknow:hover{
	background-position: -1140px -660px;
}
.qvknow1{

	background-position: -1055px -660px;
}
.qvknow1:hover{

	background-position: -1225px -660px;
}
.qvknow2{

	background-position: -970px -742px;
}
.qvknow2:hover{

	background-position: -1140px -742px;
}
.qvknow3{

	background-position: -1055px -742px;
}

.qvknow3:hover{

	background-position: -1225px -742px;
}
/*-------------banner section center-------------*/
.sec_banner{
	width: 700px;
	height: 300px;
	margin: 0;
}
.sec_ban_box{
	padding: 0;
	position: relative;
}
.carousel-indicators_change,.carousel-indicators_change2{
	width: 100%;
	height: 36px;
	margin: 0;
	padding: 0;
	position: absolute;
	left: 0px;
	bottom: 0;
}
.carousel-indicators_change li{
	width: 140px;
	height: 36px;
	margin: 0;
	border: 0;
	opacity: 1;
	background: url(../img/style_z_c8c88dc.png) no-repeat;
	background-position: -519px -872px;
	text-align: center;
	border-radius: 0;
	line-height: 36px;
	float: left;
	position: relative;
	text-align: center;
	line-height: 36px;
	color: #617392;
}
.carousel-indicators_change li.active{
	width: 139px;
	height: 36px;
	background: url(../img/style_z_c8c88dc.png) no-repeat;
	background-position: 0px -1246px;
	color: #fff;
	
}
.carousel-indicators_change li p{
	width: 140px;
	height: 36px;
	position: absolute;
	top: 0;
	left: 500px;
	
}
/*控制切换是否为官方,合作*/
.slide{}
/*----------------------------coll------------------*/
.carousel-indicators_change2 li{
	width: 233px;
	height: 36px;
	margin: 0;
	border: 0;
	opacity: 1;
	background: url(../img/style_z_c8c88dc.png) no-repeat;
	background-position: -519px -872px;
	text-align: center;
	border-radius: 0;
	line-height: 36px;
	float: left;
	position: relative;
	text-align: center;
	line-height: 36px;
	color: #617392;
}
.carousel-indicators_change2 li.active{
	width: 233px;
	height: 36px;
	background: url(../img/style_z_c8c88dc.png) no-repeat;
	background-position: 0px -1246px;
	color: #fff;
}
.carousel-indicators_change2 li p{
	width: 233px;
	height: 36px;
	position: absolute;
	top: 0;
	left: 500px;
}
/* 轮播切换按钮*/
.con_tab_swich{
	width:100px;
	height: 30px;
	position: absolute;
	top: 0;
	right: 0;
	background: #fff;
}
.secColl,.sevGov{
	width: 50%;
	height: 30px;
	cursor: pointer;
	text-align: center;
	line-height: 30px;
	font-size: 16px;
	color: #ae844f;
	float: left;
}
.slideswich{
	background: #ae844f;
	color: #fff;
}
.slide_off{
	display: none;
}
/*more and more game datas*/
.game_guider{
	margin-top: 10px;
	width: 700px;
	height: 300px;
}
.game_plan{
	width: 560px;
	height: 300px;
	background: url(../img/style_z_c8c88dc.png);
	background-position:-860px 0px;
	float: left;
}

.game_more_infodata{
	width: 140px;
	height: 300px;
	background: url(../img/style_z_c8c88dc.png) no-repeat;
	background-position: -720px -300px;
	float: right;
}
.game_more_infodata:hover{
	background-position: -720px -0px;
	
}
.game_plan>div{
	width: 280px;
	height: 150px;
	box-sizing: border-box;
	float: left;
}
.fis_top{
	width: 280px;
	height: 50px;
	background: url(../img/style_z_c8c88dc.png) no-repeat;
	background-position: -560px -1196px;
}

.qug-top{
	width: 280px;
	height: 50px;
	background: url(../img/style_z_c8c88dc.png) no-repeat;
	background-position: -840px -1196px;
}
.gap_top{
	width: 280px;
	height: 50px;
	background: url(../img/style_z_c8c88dc.png) no-repeat;
	background-position: 0px -1196px;
}
.wof_top{
	width: 280px;
	height: 50px;
	background: url(../img/style_z_c8c88dc.png) no-repeat;
	background-position: -280px -1196px;
}
.fis_explore{
	list-style: none;
	padding: 11px;
}
.fis_explore li{
	width: 85px;
	height: 75px;
	float: left;
	text-align: center;
	box-sizing: border-box;
	color: #8e8e8d;
	cursor: pointer;
}
.fis_explore>li:hover i{
	transform: translateY(-10px);
	transition: .3s linear 0s; 
}
.fis_explore>li i{
	transition: .3s linear 0s; 
}
.fis_explore>li:hover p{
	transform: translateY(-10px);
	transition: .3s linear .1s; 
}
.fis_explore>li p{
	transition: .3s linear .1s; 
}
.fis_i{
	font-size: 50px;
	color: #c7ae69;
}
.pug_text{
	width: 100%;
	height: 100px;
	list-style: none;
	padding: 15px;
}
.pug_text li,.pug_text_plan li{
	width: 33.3%;
	height: 30px;
	float: left;
	text-align: center;
	line-height: 30px;
}
.pug_text_plan li{
	height: 24px;
}
.pug_text li a,.pug_text_plan li a{
	color: #8e8e8d;
	text-decoration: none;
}
.pug_text li:hover a,.pug_text_plan li:hover a{
	color: #c7ae69;
}
.pug_text_plan{
	width: 100%;
	height: 100px;
	list-style: none;
	padding: 5px 15px;
}
/*-----------------------*/
.play_interflow{
	width: 700px;
	height: 300px;
	margin: 10px 0 0 0;
	overflow: hidden;
}
.play_role{
	width: 700px;
	height: 350px;
	margin: 10px 0 0 0;
	/*overflow: hidden;*/
}
.play_role{
	background: #fcfbf8;
}
.role_tabs{
	margin:0;
	padding: 0;
	width: 100%;
	height: 50px;
	position: relative;
	list-style: none;
	border-bottom: 1px solid #bbb;
	z-index: 100;
}
.role_tabs:after{
	content: '';
	display: block;
	clear: both;
}
.role_tabs >li{
	width: 9%;
	height: 50px;
	float: left;
	text-align: center;
	line-height: 60px;
	margin-left: 6px;
}
.role_tabs >li:hover{
	border-bottom: 3px solid #c72525;
}
ul.role_list{
	position: absolute;
	top: 0;
	left: 0;
	z-index: 300;
	border: 1px solid #d5d2d2;
}
.nav-tabs.nav-justified > li > a{
	border: none;
	font-size: 16px;
	color: #000;
}
.nav.nav-tabs.nav-justified > li.active a,
.nav.nav-tabs.nav-justified > li:hover a{
	border: none;
	color: #c72525;
	background: rgba(0,0,0,0);
	/*border-bottom:4px solid red ;*/
}
/*--------------------*/

/*--------------------*/
.tab-content{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 350px;
	z-index: 1;
}
.tab-content>div{
	width: 100%;
	height: 350px;
	display: none;
	/*padding: 60px 20px 10px;*/
}
.role_factions{
	width: 240px;
	height: 45px;
	background: url(../img/play_role/menpai/hh-f_778c1d6.png) no-repeat;
}
.profession{
	margin-top: 20px;
	width: 240px;
	height: 45px;
	padding: 5px;
}
.pro_skilled{
	width: 180px;
	height: 35px;
	box-sizing: border-box;
	border-top: 1px solid #aaa;
	border-bottom: 1px solid #aaa;
	float: left;
	color: #c29c6c;
	line-height: 35px;
}
.pro_more{
	width: 45px;
	height: 35px;
	float: right;
	background: #c29c6c;
	color: #FFF;
	line-height: 35px;
	text-align: center;
}
.pro_chart{
	margin-top: 25px;
	width: 155px;
	height:140px;
	background: url(../img/style_z_c8c88dc.png);
	background-position: -1216px -918px;
}
.fade{
	position: relative;
	overflow: hidden;
}
.role-sex{
	width: 115px;
	height: 100px;
	position: absolute;
	right: 20px;
	bottom: 20px;
}
 a.male_role,a.madam-role{
	width: 100%;
	height: 40px;
	display: block;
	color: #000;
	font-size: 16px;
	text-indent:1em;
	line-height: 40px;
	text-decoration: none;
}

 a.madam-roles, a.male_roles{
	margin: 10px 0 0 75px;
	width: 40px;
	height: 40px;
	border-radius: 40px;
	display: block;
}
 a.male_role{
 	background: url(../img/style_z_c8c88dc.png) no-repeat;
	background-position: -230px -872px;
 }
 a.male_roles{
 	margin-top: 0;
 	
	background: url(../img/style_z_c8c88dc.png) no-repeat;
	background-position:-360px -310px ;
}
 a.madam-role{
 	margin-top: 10px;
	background: url(../img/style_z_c8c88dc.png) no-repeat;
	background-position: -1227px -560px;
	
}
 a.madam-roles{
 	background: url(../img/style_z_c8c88dc.png) no-repeat;
	background-position:-810px -600px;
 }

.male_sex_tab{
	width: 100%;
	height: 100%;
	background: url(../img/play_role/mz-m_e502c6c.png) no-repeat;
	width: 100%;
	height: 350px;
	padding: 60px 20px 10px;
	position:relative;
	display: none;
}
.madam_sex_tab{
	/*margin-top: 300px;*/
	border: 1px solid red;
	background: url(../img/play_role/mz-f_f6132ea.png) no-repeat;
	width: 100%;
	height: 350px;
	padding: 60px 20px 10px;
	position:relative;
	display: none;
}
div.unperson,div.doctor,div.enchanter,div.gentry,div.wizard,div.artist,div.archer,div.trooper,div.swordsman,div.mez{
	display: none;
}
.role_show{
	display: block;
}
/*-------玩家交流-------*/
.play_interflow{
	background: url(../img/style_z_c8c88dc.png) no-repeat;
	background-position: 0 -350px;
}
.play_if_top{
	height: 50px;
	width: 100%;
}
.play_if_btm{
	height: 250px;
	width: 100%;
}
.bbs_share,.hall_of_name,.walkthrough{
	width: 500px;
	height: 250px;
	overflow: hidden;
	float: left;
}
.bbs_img,.hall_img,.walkthrough_img{
	height: 250px;
	width: 100px;
	background: url(../img/style_z_c8c88dc.png) no-repeat;
	background-position: -1260px -300px;
	float: left;
	cursor: pointer;
}
.bbs_content_i{
	width: 100%;
	height: 90px;
}
.bbs_content_i ul{
	padding: 0;
	list-style: none;
}
.bbs_content_i li{
	width: 46%;
	height: 90px;
	margin-right: 2%;
	background-size: 100% 100%;
	transition: .5s linear;
}
.bbs_content_i li a{
	display: block;
	width:100%;
	height: 100%;
	
}
.bbs_content_i li:hover{
	transform: scale(1.2,1.2);
}
.bbs_content_i li:first-child{
	float: left;
	margin-right: 0;	
	background: url(../img/595cc22796dee49f3fbb31f6mkBQYzqm.jpg) no-repeat;
}
.bbs_content_i li:last-child{
	float: right;
	margin-right: 0;	
	background: url(../img/595cc21896dee4872e16fc4aqGLqb4ss.jpg) no-repeat;
}

.bbs_content_t{
	margin-top: 10px;
	width: 100%;
	height: 120px;
}
.bbs_content_t ul{
	padding: 0;
	list-style: none;
}
.bbs_content_t li{
 width: 100%;	
 height: 35px;
 text-align: left;
 line-height: 30px;
 border-bottom:1px dotted #000;
 float: left;
 overflow: hidden;
 text-overflow: ellipsis;
 white-space: nowrap;
 position: relative;
}
.bbs_content_t li a{
 color: #666;
 overflow: hidden;
 text-overflow: ellipsis;
 white-space: nowrap;
}
.bbs_content_t li span{
	position: absolute;
	top: 0;
	right: 0;
}
.bbs_content_t li a:hover{
 color: #b04444;
}
/*----bbs share-------*/
.bbs_img:hover{
	background-position: -1160px -300px;
}
/*----bbs 名人堂-------*/
.hall_img{
	background-position: -1060px -300px;
}
.hall_img:hover{
	background-position: -960px -300px;
}
/*----bbs 游戏攻略----*/
.walkthrough_img{
	background-position: -0px -660px;
}
.walkthrough_img:hover{
	background-position: -860px -300px;
}
/*----初始状态 隐藏名人堂和游戏攻略-------*/
.bbs_hidden{
	display: none;
}
.bbs_content,.hall_contont,.walkthrough_contont{
	width: 400px;
	height: 250px;
	float: right;
	background: #fff;
	box-sizing: border-box;
	padding:13px 30px ;
}
.sec_server_search{
	width: 350px;
	height: 70px;
	background: #fff;
	padding:0 10px;

}
.sec_search_top{
	width: 100%;
	height: 32px;
}
.sec_sec_textone{
	padding-left: 0px;
	list-style: none;
	float: left;
}
.sec_sec_textone li{
	padding: 0px;
	margin: 0;
	width: 70px;
	height: 32px;
	text-align: right;
	background: url(../img/li2_b8cb097.gif) no-repeat;
	background-position: 0 16px;
	line-height: 32px;
	/*float: left;*/
}
.sec_sec_textone>li a{
	color: #000;
	font-size: 12px;
}
.server_meun{
	list-style: none;
	float: right;
}
.server_meun li{
	padding:0 2px 0 8px;
	height: 32px;
	line-height: 32px;
	background: url(../img/li2_b8cb097.gif) no-repeat;
	background-position: 0 16px;
	float: left;
}
.server_meun li a{
	color: #000;
}
.sec_search_btm{
	width: 100%;
	height: 30px;
	position: relative;
	/*font-size: 0;*/
}
.search{
	width: 88%;
	height: 30px;
	position: absolute;
	left: 0;
	top: 0;
}
.search+label{
	display: inline-block;
	width: 40px;
	height: 30px;
	background: #c72525;
	color: #fff;
	font-size: 20px;
	text-align: center;
	line-height: 30px;
	position: absolute;
	top: 0;
	right: 0;
}
.news{
	margin-top: 10px;
	width:350px;
	height: 310px;
	background: #FFF;
	overflow: hidden;
	position: relative;
}
.news_title{
	width:350px;
	height: 40px;
	border-bottom: 1px solid #ccc;
	padding: 2px;
	list-style: none;
	margin-bottom: 0;
}
.news_title:after{
	content: "";
	display: block;
	clear:both;
}
.news_title li {
	width: 16%;
	height: 39px;
	float: left;
	margin-left: 4%;
	text-align: center;
	line-height: 36px;
}
.news_title li:nth-child(1){
	margin-left: 2%;
}
.news_title li:hover {
	font-weight: 700px;
	border-bottom: 3px solid #2c4591;
	background: #DDDDDD;
}
.news .news_title li a{
	text-decoration: none;
	color: #000;
	
}
.news_title li:hover a{
	text-decoration: none;
	color: #2c4591;
	
}
.news_tab_content{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 300px;
}
.notice{
	width: 100%;
	height: 70px;
	border-bottom:1px dashed #bbb ;
	text-align: center;
	color: #FF0000;
	line-height: 15px;
	font-size: 18px;
	box-sizing: border-box;
	padding: 10px;
}
.notice a{
	color: #FF0000;
	line-height: 25px;
	font-size: 16px;
}
.notice i{
	background: url(../img/style_z_c8c88dc.png) no-repeat;
	background-position: -926px -612px;
}
.notice span{
	background: url();
}
.news_content{
	/*border: 1px solid #000;*/
	width: 1752px;
	height: 200px;
	position: absolute;
	top: 109px;
	
	/*left: -200px;*/
}
.news_content>div{
	width: 350px;
	height: 200px;
	float: left;
	box-sizing: border-box;
	line-height: 0px;
	font-size: 14px;
	white-space:normal;
	word-spacing: normal;
	box-sizing: border-box;
	padding: 15px;
	overflow: hidden;
}
.news_content>div a{
	color: #666;
	
}
.news_content>div p{
	color: #666;
	line-height: 15px;
	width: 80%;
	height: 20px;
	overflow: hidden;
 	text-overflow: ellipsis;
	 white-space: nowrap;
	float: left;
}
.news_content>div span{
	width: 43px;
	height: 10px;
	display: block;
	float: right;
	margin-top: 5px;
}
/*------great_video-------*/
.great_video{
	width: 350px;
	height: 350px;
	margin-top: 10px;
	background: url(../img/style_z_c8c88dc.png) no-repeat;
	background-position: 0 0;	
}
.video_more{
	width: 350px;
	height: 50px;	
}
.text_more{
	width: 100px;
	height: 50px;
	line-height: 50px;
	font-size: 20px;
	text-align: center;
	float: right;
}
.text_more a{
	text-decoration: none;
	color: #666;
	font-size: 16px;
}
.text_more:hover a{
	color: #dbc587;
}
.video_play_info{
	width: 350px;
	height: 300px;
	
}
.video_title{
	width: 100%;
	height: 50px;
	margin: 0 30px;
}
.video_t{
	list-style: none;
	margin-left: 50px;
	padding:5px;
	
}
.video_t li{
	width: 130px;
	height: 30px;
	font-size: 18px;
	text-align: center;
	line-height: 40px;
	float: left;
	color: #999;
}
.video_title{
	margin: 0;
}
li.fly_l{
	width: 60px;
	height: 30px;
	background: url(../img/style_z_c8c88dc.png) no-repeat;
	background-position: -1104px -626px;
}
li.fly_r{
	width: 60px;
	height: 30px;
	background: url(../img/style_z_c8c88dc.png) no-repeat;
	background-position: -1164px -626px;
}
.video_contant{
	width: 350px;
	height: 190px;
	/*overflow: hidden;*/
}
.video_c_one,.video_c_two,.video_c_three{
	display: none;
	margin-left: -4px;
}
.video_tabs{
	height: 60px;
	width: 350px;
	position: relative;
}
.video_tabs ul{
	width: 100%;
	position: absolute;
	padding: 0px;
	top: -3px;
	list-style: none;
}
.video_tabs ul:after{
	content: "";
	display: block;
	clear: both;
}
.video_tabs li{
	text-align: center;
	line-height: 60px;
	width: 33.3%;
	height: 50px;
	float: left;
	cursor: pointer;
	background: url(../img/style_z_c8c88dc.png) no-repeat;
	background-position: -926px -560px;
}
.video_show{
	display: block;
}
.video_tabs li:hover{
	background: url(../img/style_z_c8c88dc.png) no-repeat;
	background-position: -1039px -560px;
	
}
li.active_video{
	background: url(../img/style_z_c8c88dc.png) no-repeat;
	background-position: -1039px -560px;
}
.sevices_house{
	width: 350px;
	height: 210px;
	background: url(../img/style_z_c8c88dc.png) no-repeat;
	background-position: -270px -660px;
}
.sevices_lis{
	list-style: none;
	padding:20px 0 0 120px ;
}
.sevices_lis li{
	width: 200px;
	height: 70px;
	line-height: 10px;
	text-align: left;
}
.sevices_lis li p a{
	color: #666;
	font-size: 15px;
}
.sevices_lis li p a.sev_list_ab{
	color: #c72525;
	text-decoration: underline;
}
.user_activity{
	width: 350px;
	height: 310px;
	background:url(../img/style_z_c8c88dc.png) no-repeat ;
	background-position: -360px 0;
	margin-top: 10px;
	padding: 60px 10px 10px;
}
.user_actvity_top{
	width: 100%;
	height: 130px;
	overflow: hidden;
	
}
.user_actvity_top img{
	width: 100%;
	height: 130px;
	transition: all .5s linear;				
}
.user_actvity_top:hover img{
	transform: scale(1.2,1.2);		
}
.user_actvity_btm{
	width: 100%;
	height: 100px;
	margin-top: 10px;
}
.user_act_img{
	padding: 0;
	list-style: none;
}

.user_act_img:after{
	content: "";
	display: block;
	clear: both;
}
.user_act_img li{
	float: left;
	width: 160px;
	height: 100px;
	overflow: hidden;
}
.user_act_img li img{
	width: 100%;
	height: 100px;
	transition: all .5s linear;	
}
.user_act_img li:hover img{
	transform: scale(1.2,1.2);	
}
.user_act_img li:nth-child(2){
	margin-left: 10px;	
}
/*--------------footer-----------------------*/
/*ali 字体图标*/
@font-face {font-family: "iconfont";
  src: url('http://at.alicdn.com/t/font_2gb17gc8qnfxn7b9.eot?t=1499329050347'); /* IE9*/
  src: url('http://at.alicdn.com/t/font_2gb17gc8qnfxn7b9.eot?t=1499329050347#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('http://at.alicdn.com/t/font_2gb17gc8qnfxn7b9.woff?t=1499329050347') format('woff'), /* chrome, firefox */
  url('http://at.alicdn.com/t/font_2gb17gc8qnfxn7b9.ttf?t=1499329050347') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('http://at.alicdn.com/t/font_2gb17gc8qnfxn7b9.svg?t=1499329050347#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-sina:before { content: "\e609"; }

.icon-qzone:before { content: "\e607"; }

.icon-yixin01:before { content: "\e636"; }

.icon-custom-wechat:before { content: "\e642"; }

.icon-qq:before { content: "\e635"; }

.icon--angel:before { content: "\e6e8"; }

.icon-ningshi:before { content: "\e77b"; }

.icon-youshang:before { content: "\e77c"; }

.icon-kaixin:before { content: "\e77d"; }

.icon-daxiao:before { content: "\e77e"; }

.icon-jingya:before { content: "\e77f"; }

.icon-shengqi:before { content: "\e780"; }

.icon-haixiu:before { content: "\e781"; }

.icon-biezui:before { content: "\e782"; }

.icon-keai:before { content: "\e783"; }

/*ali 字体图标*/
.footer{
	margin: 30px auto 0;
	width: 1250px;
	height: 250px;
}
.share_to{
	width: 100%;
	height: 70px;
	padding: 15px;
}
.share_icon{
	list-style: none;
	width: 300px;
	height: 36px;
	text-align: center;
	padding: 0;
	margin: 0 auto;
}
.share_icon:after{
	content: "";
	display: block;
	clear: both;
}
.share_icon li{
	width:36px ;
	height: 36px;
	border-radius: 36px;
	color: #fff;
	background: #000;
	float: left;
	font-size: 18px;
	line-height: 36px;
	font-weight: 600;
	margin-left: 5px;
	cursor: pointer;
}
.share_icon li i{

	font-size: 28px;
}
.share_icon li:hover{
	background: darkred;
}
.share_icon li:first-child{
	width:72px ;
	height: 36px;
	color: #000;
	border-radius: 0;
	background: none;
	cursor: auto;
}
.out_info{
	width: 100%;
	height: 50px;
}
.out_famliy_obj,.out_info_img{
	width: 50%;
	height: 50px;
	float: left;
}
.out_info_img{
	text-align: right;
}
.out_info_img a{
	margin-left: 10px;
}

.out_info_img a:last-child{
	margin-right: 10px;
}
.out_famliy_obj{}
.out_famliy_obj ul{
	list-style: none;
	padding:0;
	margin: 0;
	margin-left: 10px;
	
}
.out_famliy_obj ul:after{
	content: ''	;
	display: block;
	clear: both;
}
.out_famliy_obj li{
	float: left;
	width: 65px;
	height: 20px;
}
.out_famliy_obj li a{
	color: #000;
}
.conpany_info{
	width: 600px;
	height: 30px;
	line-height:25px;
	padding-left: 10px;
	
}
.conpany_name{
	float: left;
}
.conpany_famliy{
	width: 160px;
	height: 25px;
	background: #610000;
	float: left;
	margin-left: 20px;
	text-align: center;
}
.conpany_famliy a{
	color: #FFF;
}
.announcement{
	padding: 20px 0 0 45px;
	margin:auto;
	width: 75%;
	height: 100px;
	font-size: 13px;
	line-height: 15px;
}
.announcement a{
	color: #000;
}
